# 07. 문자열 다루기

# 08. 문자열 다루기 2

In [31]:
# .strip, .lstrip, .rstrip

s = "    Hello World    "
print(s.lstrip(), '/', s)
print(s.strip(), '/', s)
print(s.rstrip(), '/', s)

Hello World     /     Hello World
Hello World /     Hello World
    Hello World /     Hello World

In [34]:
# upper lower
string = "Hello, world!"

upper_string = string.upper() # 여기에 코드를 작성해 주세요.
print(upper_string)

HELLO, WORLD!

In [33]:
# replace()
string = "Hello, world!"

replaced_string = string.replace('world', 'python') # 여기에 코드를 작성해 주세요.
print(replaced_string)

Hello, python!

In [32]:
string = "Hello World"

idx = string.find('World') # 여기에 코드를 작성해 주세요.
print(idx)

6

In [38]:
#.isdigit()
#.isalpha()
#.isalnum()

string = "1234567890"
print(string.isdigit())
print(string.isalpha())
print(string.isalnum())

True
False
True

# 09. 불리언

# 10. 11. 리스트

In [23]:
# count

fruits = ['apple', 'banana', 'cherry', 'apple', 'banana', 'banana', 'fig', 'grape']
apple_count = fruits.count("apple") # 여기에 코드를 입력해 주세요
print(apple_count)

2

In [24]:
# index

fruits = ['apple', 'banana', 'cherry', 'apple', 'banana', 'banana', 'fig', 'grape']

index1 = fruits.index('apple') # 여기에 코드를 입력해 주세요
index2 = fruits.index('apple', index1+1) # 두번 째 애플의 위치
print(index1, index2)

0 3

In [25]:
# 리스트 삽입

ls = [1, 2, 3, 4]

ls.append(99) # 여기에 코드를 입력해 주세요
print(ls)

more_ls = [5, 6, 7, 8, 9]
ls.extend(more_ls)  # 전체 값 추가
print(ls)

ls.insert(6, 777) # 인덱스 6번에 777을 추가
print(ls)

[1, 2, 3, 4, 99]
[1, 2, 3, 4, 99, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 99, 5, 777, 6, 7, 8, 9]

In [ ]:
# 리스트 삭제 

ls2 = ['apple', 'banana', 'cherry', 'date', 'banana', 'fig']

ls2.remove('cherry') # 여기에 코드를 입력해 주세요
print(ls2)

last_value = ls2.pop() # 여기에 코드를 입력해 주세요
print(ls2, ',', last_value)

ls3 = [1, 2, 3, 4]
ls3.clear # 여기에 코드를 입력해 주세요
print(ls3)

['apple', 'banana', 'date', 'banana', 'fig']
['apple', 'banana', 'date', 'banana'] , fig
[1, 2, 3, 4]

In [27]:
# sort. reverse

numbers = [5, 2, 9, 1, 5, 6]

numbers.sort(reverse = True) # 여기에 코드를 입력해 주세요
print(numbers)

numbers.reverse() # 여기에 코드를 입력해 주세요
print(numbers)

[9, 6, 5, 5, 2, 1]
[1, 2, 5, 5, 6, 9]

In [28]:
# 리스트 값 분석

numbers = [5, 2, 9, 1, 5, 6]

maximum = max(numbers) # 여기에 코드를 입력해 주세요
minimum = min(numbers) # 여기에 코드를 입력해 주세요
total = sum(numbers) # 여기에 코드를 입력해 주세요
length = len(numbers) # 여기에 코드를 입력해 주세요

print('최대값', maximum)
print('최소값', minimum)
print('합계', total)
print('개수', length)

최대값 9
최소값 1
합계 28
개수 6

# 12. 딕셔너리

In [16]:
score = {
    'name' : '김철수',
    'math' : 90,
    'english' : 85,
    'temp' : 999
} # 여기에 코드를 작성하세요
print(score)

{'name': '김철수', 'math': 90, 'english': 85, 'temp': 999}

In [18]:
# 새로운 값 추가 
score["korean"] = 100 # 여기에 코드를 작성하세요

print(score)

{'name': '김철수', 'math': 90, 'english': 85, 'temp': 999, 'korean': 100}

In [19]:
# 키 값 삭제 
del score["temp"] # 여기에 코드를 작성하세요

print(score)

{'name': '김철수', 'math': 90, 'english': 85, 'korean': 100}

In [17]:
# 값 반환 메소드
# 메서드 그대로 써도 무방
 
keys = score.keys() # 여기에 코드를 작성하세요
values = score.values() # 여기에 코드를 작성하세요
items = score.items() # 여기에 코드를 작성하세요

print(keys)
print(values)
print(items)

print(score.keys())
print(score.values())
print(score.items())

dict_keys(['name', 'math', 'english', 'temp'])
dict_values(['김철수', 90, 85, 999])
dict_items([('name', '김철수'), ('math', 90), ('english', 85), ('temp', 999)])
dict_keys(['name', 'math', 'english', 'temp'])
dict_values(['김철수', 90, 85, 999])
dict_items([('name', '김철수'), ('math', 90), ('english', 85), ('temp', 999)])

# 13. 튜플

In [14]:
# 튜플 언패킹
person = ("Alice", 30, "Engineer")
name, age, job = person # 여기에 코드를 입력하세요

print(name)
print(age)
print(job)

Alice
30
Engineer

# 14. 집합

In [11]:
set1 = {1, 2, 3, 4} # 여기에 코드를 작성하세요

print(set1)

{1, 2, 3, 4}

In [12]:
set1.add(5) # 여기에 코드를 작성하세요
set1.remove(1) # 여기에 코드를 작성하세요

print(set1)

{2, 3, 4, 5}

In [13]:
# 대칭차집합?

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# 합집합
union_set = set1 | set2 # 여기에 코드를 작성하세요

# 교집합
intersection_set = set1 & set2 # 여기에 코드를 작성하세요

# 차집합 (set1 - set2)
difference_set = set1 - set2 # 여기에 코드를 작성하세요

# 대칭차집합
symmetric_difference_set = set1 ^ set2 # 여기에 코드를 작성하세요


print(f"합집합: {union_set}")
print(f"교집합: {intersection_set}")  # 출력: {4, 5}
print(f"차집합: {difference_set}")  # 출력: {1, 2, 3}
print(f"대칭차집합: {symmetric_difference_set}")  # 출력: {1, 2, 3, 6, 7, 8}

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
차집합: {1, 2, 3}
대칭차집합: {1, 2, 3, 6, 7, 8}

# 15. 자료형 변환

In [9]:
# data를 정수형으로 변경해 봅시다.
data = 180.1
int_num = int(data)
print(int_num)

# data를 실수형으로 변경해 봅시다.
data = "3.14"
float_num = float(data)
print(float_num)

# data를 문자열로 변경해 봅시다.
data = 100
str_num = str(data)
print(str_num)

180
3.14
100

In [10]:
# data를 리스트로 변경해 봅시다.
data = 'abcde'
ls = list(data)
print(ls)

# data를 튜플로 변경해 봅시다.
data = [1, 2, 3, 4]
tup = tuple(data)
print(tup)

# data를 집합으로 변경해 봅시다.
data = [1, 1, 1, 2, 2, 3]
set_data = set(data)
print(set_data)

['a', 'b', 'c', 'd', 'e']
(1, 2, 3, 4)
{1, 2, 3}

# 16. if

In [8]:
score = 70
if score >= 90:
    print("성적은 A+ 입니다.")
elif score >= 80:
    print("성적은 A 입니다.")
elif score >= 70:
    print("성적은 B+ 입니다.")
else:
    print("성적은 F 입니다.")

성적은 B+ 입니다.

# 17. for

In [1]:
# range(stop)
# range(start, stop)
# range(start, stop, step)

# enumerate
# 요소별 인덱스를 함께 출력

ls = ['apple', 'banana', 'cherry', 'grape']

for idx, value in enumerate(ls):
    print(idx, value)

0 apple
1 banana
2 cherry
3 grape

In [3]:
scores = {
    "John": 85,
    "Emily": 92,
    "Anna": 78,
    "Mike": 89
}

for student, score in scores.items():
    print(f"{student}: {score}")

John: 85
Emily: 92
Anna: 78
Mike: 89

In [5]:
print(scores.items())

dict_items([('John', 85), ('Emily', 92), ('Anna', 78), ('Mike', 89)])

In [7]:
# break, continue

# 여기에 코드를 작성하세요
for i in range(10):
    if i == 5:
        break
    print(i)

# 여기에 코드를 작성하세요
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
0
1
2
3
4
6
7
8
9

In [2]:
# f-string